html, body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.fruits:after{
content: "";
animation: 6s swap infinite;
padding: 10px;
background: dodgerblue;
}

@keyframes swap{
    0%{
        content: "Water Melon";
    }
    25%{
        content: "Apple";
    }
    50%{
        content: "Guava";
    }
    75%{
        content: "Pineapple";
    }
    100%{
        content: "Banana";
    }
}