html, body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
}
.blue{
    height: 300px;
    width: 200px;
    background: blue;
}

.white{
    height: 300px;
    width: 200px;
    background: white;
    /* border: black 1em; */
}

.red{
    height: 300px;
    width: 200px;
    background: red;
}

div{
    border: .5px solid black;
}